<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pooling注册页面</title>

    <base href="http://localhost:8080/Pooling/">
    <script type="text/javascript" src="static/script/jquery-3.4.1.js"></script>
    <script type="text/javascript">

        // 页面加载完成之后
        $(function () {

            // 给注册绑定单击事件
            $("#sub_btn").click(function () {
                // 验证用户名：必须由字母，数字下划线组成，并且长度为5到12位
                var usernameText = $("#username").val();
                var usernamePattern = /^\w{5,12}$/;
                if (!usernamePattern.test(usernameText)) {
                    $("span.errorMsg").text("用户名不合法！");
                    return false;
                }

                // 验证密码：必须由字母，数字下划线组成，并且长度为5到12位
                var passwordText = $("#password").val();
                var passwordPattern = /^\w{5,12}$/;
                if (!passwordPattern.test(passwordText)) {
                    $("span.errorMsg").text("密码不合法！");
                    return false;
                }

                // 验证确认密码：和密码相同
                var rePasswordText = $("#rePassword").val();
                if (rePasswordText != passwordText) {
                    $("span.errorMsg").text("确认密码和密码不一致！");
                    return false;
                }

                //手机号码验证
                //后面与验证码结合
                var phoneText = $("#phone").val();
                var phonePattern = /^1[3|4|5|7|8]\d{9}$/;
                if (!phonePattern.test(phoneText)) {
                    $("span.errorMsg").text("手机号码不合法！");
                    return false;
                }

                // 邮箱验证：xxxxx@xxx.com
                var emailText = $("#email").val();
                var emailPattern = /^[a-z\d]+(\.[a-z\d]+)*@([\da-z](-[\da-z])?)+(\.{1,2}[a-z]+)+$/;
                if (!emailPattern.test(emailText)) {
                    $("span.errorMsg").text("邮箱格式不合法！");
                    return false;
                }

                // 验证码功能还未实现
                var codeText = $("#code").val();
                //去掉验证码前后空格
                codeText = $.trim(codeText);
                if (codeText == null || codeText == "") {
                    $("span.errorMsg").text("验证码不能为空！");
                    return false;
                }
                $("span.errorMsg").text("");
            });

        });

    </script>

    <style type="text/css">
        .login_form {
            height: 420px;
            margin-top: 25px;
        }

    </style>


</head>
<body>


<div class="login_banner">
    <div id="content">
        <div class="login_form">
            <div class="login_box">
                <div class="tit">
                    <h1>注册Pooling会员</h1>
                    <span class="errorMsg"></span>
                </div>
                <div class="form">
                    <form action="registerServlet" method="post">
                        <label>用户名称：</label>
                        <input class="text" type="text" placeholder="请输入用户名"
                               autocomplete="off" tabindex="1" name="username" id="username"/>
                        <br/>
                        <br/>
                        <label>用户密码：</label>
                        <input class="text" type="password" placeholder="请输入密码"
                               autocomplete="off" tabindex="1" name="password" id="password"/>
                        <br/>
                        <br/>
                        <label>确认密码：</label>
                        <input class="text" type="password" placeholder="确认密码"
                               autocomplete="off" tabindex="1" name="rePassword" id="rePassword"/>
                        <br/>
                        <br/>
                        <label>手机号码：</label>
                        <input class="text" type="text" placeholder="请输入手机号码"
                               autocomplete="off" tabindex="1" name="phone" id="phone"/>
                        <br/>
                        <br/>
                        <label>电子邮件：</label>
                        <input class="text" type="text" placeholder="请输入邮箱地址"
                               autocomplete="off" tabindex="1" name="email" id="email"/>
                        <br/>
                        <br/>
                        <label>验证码：</label>
                        <input class="text" type="text" name="code" id="code" />
                        <!-- 图片验证码 手机验证码-->
                        <br/>
                        <br/>
                        <input type="submit" value="注册" id="sub_btn"/>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>