<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.srtp.taxi.mapper.DispatchMapper">
    <select id="findDispatchByDriverId" parameterType="Long" resultMap="DispatchRM">
        SELECT *,r.id rid,d.id did
        FROM t_reservation r,t_dispatch d
        WHERE d.driverId = #{driverId} and d.reservationId=r.id
    </select>
    <resultMap id="DispatchRM" type="com.srtp.taxi.entity.Dispatch">
        <!--<result property="id" column="d.id"/>-->
        <result property="driverId" column="driverId"/>
        <collection property="reservationList" ofType="com.srtp.taxi.entity.ReservationDispatched" javaType="ArrayList">
            <id property="id" column="rid"/>
            <id property="dispatchId" column="did"/>
            <result property="userId" column="userId"/>
            <result property="start_lng" column="start_lng"/>
            <result property="start_lat" column="start_lat"/>
            <result property="end_lng" column="end_lng"/>
            <result property="end_lat" column="end_lat"/>
            <result property="startAt" column="startAt"/>
            <result property="num" column="num"/>
            <result property="isDispatched" column="isDispatched"/>
        </collection>
    </resultMap>

<!--    private long id;-->
<!--    private long userId;-->
<!--    //起点经纬度-->
<!--    private double start_lng;-->
<!--    private double start_lat;-->
<!--    //终点经纬度-->
<!--    private double end_lng;-->
<!--    private double end_lat;-->
<!--    //出发时间-->
<!--    private Date startAt;-->
<!--    //乘客数-->
<!--    private int num;-->
<!--    private boolean isDispatched;-->
<!--    @Select("select * from t_dispatch where driverId=#{driverId}")-->
</mapper>